#root {
  background: url(./assets/img/5594016.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  margin-left: 100px;
  padding-top: 15vw;
  padding-bottom: 15vw;
}

.big {
  color: black;
  font-size: 5vw;
}

.small {
  color: grey;
  font-size: 3vw;
}