.block {
  width: 100%;
  background-image: url(https://previews.123rf.com/images/lookpol/lookpol1603/lookpol160300012/55394889-butterfly-on-right-side-of-white-background-.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  margin-left: 100px;
  padding-top: 15vw;
  padding-bottom: 15vw;
}

.big {
  color: black;
  font-size: 5vw;
}

.small {
  color: grey;
  font-size: 3vw;
}